<div class="container mt-4" data-controller="map">
  <div class="row">
    <div class="col-md-8">
      <!-- Map container -->
      <div data-map-target="map" style="width: 100%; height: 600px;"></div>
    </div>
    <div class="col-md-4">
      <!-- Selected neighborhoods container -->
      <div class="card mb-4">
        <div class="card-header">
          <h5>Selected Neighborhoods</h5>
        </div>
        <div class="card-body" data-map-target="selectedList">
          <p>No neighborhoods selected</p>
        </div>
      </div>

      <!-- Grocery stores container -->
      <div class="card">
        <div class="card-header">
          <h5>Grocery Stores</h5>
        </div>
        <div class="card-body" data-map-target="storesList">
          <p>Select a neighborhood to see grocery stores</p>
        </div>
      </div>
    </div>
  </div>
</div>
    